.App {
  text-align: center;
}

.row {
  margin: 0px !important;
}

.proplan-description {
  text-align: left;
  font-size: medium;
  margin-left: 10rem;
  margin-right: 10rem;
}

.jumbotron{
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h2{
  text-align: left;
  margin: 5rem;
}

.cellSpan{
  background-color: gray;
  /* z-index: 0 !important; */
}

.normCell{
  display:none;
}