.App {
  text-align: center;
}

.row {
  margin: 0px !important;
}

.proplan-description {
  text-align: left;
  font-size: medium;
  margin-left: 10rem;
  margin-right: 10rem;
}

.jumbotron{
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h2{
  text-align: left;
  margin: 5rem;
}

.cellSpan{
  background: rgb(150, 203, 235);
  border-left: 1px solid  rgb(144, 194, 226) !important;
  border-right: 1px solid rgb(144, 194, 226)  !important;
  border-bottom: 1px solid rgb(144, 194, 226)  !important;
}

.partCellSpan{
  display: none;
}
