@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif !important;
}
.modal-content{
  font-family: 'Varela Round', sans-serif !important;
}
.ag-theme-material{
  font-family: 'Varela Round', sans-serif !important;
}

.loadingImg{
    display: block;
    margin-top: 30vh !important;
    margin-left: auto;
    margin-right: auto 
}

.navBarItem{
  font-size: 1.2em;
  padding-right: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
}

.row {
  margin: 0px !important;
}

.card{
  min-width: 20em !important;
}

#brandIcon{
  padding-left: .25%;
  padding-right: .25%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: .5em;
}

.navbar-brand{
  font-size: 1.5em;
}

.proplan-description {
  font-size: medium;
  margin-left: 10vw;
  margin-right: 10vw;
}

.jumbotron{
  background-color:white;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dd1789fa-0935-4fd9-abd8-eda15016c71f/ddxsdri-ef5452b9-627f-4b70-9a0c-154fd7253174.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZGQxNzg5ZmEtMDkzNS00ZmQ5LWFiZDgtZWRhMTUwMTZjNzFmXC9kZHhzZHJpLWVmNTQ1MmI5LTYyN2YtNGI3MC05YTBjLTE1NGZkNzI1MzE3NC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.IZr8jZQQUcxTqWklcmbDarKuZPpruG8ONFoaFBekXMo");
  background-size: 100vh;
  background-position: 50% 48%;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

#welcome{
  font-size: 8vw;
  padding-bottom: 1rem;
}

#slogan{
  position: relative;
  top: .6em;
}

h2{
  margin: 5rem;
}

.features{
  height: auto;
  width: 50%;
}

#featureRow{
padding-bottom: 2em;
padding-right: 5vw;
padding-left: 5vw;
}

.homeFeature{
  border: none;
}

#allPlansHead{
  padding-left: 4vw;
  padding-top: 2em;
}

#myPlanImg{
  height: 1em;
}

.modal-dialog{
  top: 10%;
}

.modal-body{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#createPlanBtnCol{
  padding-bottom: 2em;
}
#createPlanBtn{
  position: relative !important;
  top: 40%;
  font-size: 1.25em;
  max-height: 48px;
  min-width: 141.188px;
}

#myPlansHeaderCol{
  min-width: 75vw;
}

#allPlanHeader{
  font-size: 3.5em;
  text-align: left;
}

#planCardRow{
  padding-right: 3vw;
  padding-left: 3vw;
}

#planCard{
  padding: 2.5vw;
  max-width: 450px;
}

.planImage{
  height: 16em;
}

#planCardBtn{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
}

.card-title{
  padding-top: 1em;
  font-weight: bold;
}

#planCardBtnRow{
  padding-bottom: 1em;
}

#planNameHeader{
  padding: .5em;
  font-size: 3em;
}

.nav-link{
  margin: 0;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: .2em;
  padding-top: .2em;
}

#selectDayHeader{
  padding-top: 1em;
}

#catSelect{
  transform: scaleX(-1);
  height: 18em;
  padding-right: 42vw;
}

#selectDayBtn{
  text-align: center;
  padding: 2em;
}

.tabImg{
  height: 3em;
}

.dropdown-toggle{
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.dropdown-menu{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#selectActivityBtn{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
#tableContainer{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  min-width: 50%;
}

#activityDetailsContainer{
  padding-left: 0;
  padding-right: 0;
}
#maps {
  min-width: 20em !important;
}

#addActivityForm{
  padding-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
  padding-bottom: 1em;
}

#editActivityForm{
  margin-left: 5em;
  margin-right: 5em;
}

#saveActBtn{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

#deleteActBtn{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.cellSpan-Monday{
  background: rgb(172, 221, 251);
  border: 1px solid  rgb(163, 213, 245) !important;
}

.cellSpan-Tuesday{
  background: rgb(180, 185, 251);
  border: 1px solid  rgb(173, 178, 246) !important;
}

.cellSpan-Wednesday{
  background: rgb(253, 208, 243);
  border: 1px solid  rgb(250, 200, 239) !important;
}

.cellSpan-Thursday{
  background: rgb(251, 183, 183) ;
  border: 1px solid  rgb(250, 173, 173) !important;
}

.cellSpan-Friday{
  background: rgb(255, 243, 178);
  border: 1px solid  rgb(251, 236, 151) !important;
}

.cellSpan-Saturday{
  background: rgb(213, 251, 170);
  border: 1px solid  rgb(203, 248, 152) !important;
}

.cellSpan-Sunday{
  background: rgb(163, 253, 226);
  border: 1px solid  rgb(139, 250, 217) !important;
}

.partCellSpan{
  display: none;
}

#missingMsg{
  list-style-type: none;
  position: relative !important;
  padding: 0;
  padding-top: 5em;
  left: 25%;
}
.invisible{
  height: 0px !important;
}

#maps{
  height: 30em;
}